.container {
  margin-top: 30px;
}

.item-cart-list {
  width: 110%;
}

.item-list {
  margin-right: 20px;
}

.cart-item {
  border: 1px solid rgb(221, 220, 220);
  width: 95%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.price-details {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid whitesmoke;
}

.total-amount {
  border-top: 1px dotted lightgrey;
  border-bottom: 1px solid lightgrey;
  font-weight: 600;
}

.close i {
  font-size: 1.2rem;
}

.close i:hover {
  cursor: pointer;
  color: red;
}

.price-place-details {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 300px;
}

@media (max-width: 900px) {
  .price-details {
    display: block;
    width: 90%;
    margin-top: 40px;
    margin-left: 50px;
  }

  .price-place-details {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 300px;
    width: 90%;
    margin-top: 40px;
    margin-left: 50px;
  }

  .item-cart-list {
    display: block;
    width: 90%;
  }

  .item-list {
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .item-cart-list {
    display: block;
    width: 100%;
  }

  .item-list {
    margin-left: 2px;
  }

  .img-fluid {
    width: 120px;
  }

  .cart-item {
    width: 420px;
  }

  .close {
    margin-left: -5px;
    width: 20px;
  }

  .price-details {
    margin-left: 20px;
    width: 95%;
  }
}


@media (max-width:400px) {

  .item-list {
    margin-left:-5px;
  }
  .img-fluid {
    width: 100px;
  }
  .cart-item {
    width:350px;
  }
  .close {
    margin-left: -6px;
  }

}