.Content_div {
    padding: 50px 30px 30px 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .Content_div > div {
    border-radius: 10px;
    width: 350px;
    height: 220px;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  
  .Content_div > div> :first-child {
    font-size: 70px;
    font-weight: lighter;
    text-decoration-line: none;
    text-align: center;
    display: block;
    backdrop-filter: blur(5px);
    padding: 52px 0px 60px 0px;
    border-radius: 5px;
    color:red
  }
  
  

 
  